.App {
  text-align: center;
}

body {
    background: black;
    width: 360px;
    height: 640px;
}

.heart {
  position: absolute;
  margin: 120px 95px;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F9B3B3;
  height: 175px;
  width: 175px;
  transform: rotate(-45deg);
  animation-name: color;
  animation-duration: 6s;
  animation-iteration-count: infinite;  
}

@keyframes color {
  0% {
    background-color: #FBC6c6;
  }
  50% {
    background-color: #F9B3B3;
  }
  100% {
    background-color: #FBC6c6;
  }
}

.heart::after {
  background-color: #F9B3B3;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 175px;
  height: 175px;
  top: 0px;
  left: 87.5px;
  animation-name: color;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.heart::before {
  content: "";
  background-color: #F9B3B3;
  border-radius: 50%;
  position: absolute;
  width: 175px;
  height: 175px;
  top: -87.5px;
  left: 0px;
  animation-name: color;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.heart:hover {
  /* transform: scale(0.9); */
}

img {
  width: 45%;
  vertical-align: middle;
}

 footer#footer {
  text-align: center;
  font-size: 0.6em;
  text-transform: uppercase;
  padding: 10px;
  color: grey;
  letter-spacing: 2px;
  font-family: sans-serif;
  position: relative;
  top: 165px;
  left: -27px;
  width: 250px;
}

.letter {
    margin: 10px;
}

.letter p {
    font-size: 20px;
    text-indent: 40px;
    color: whitesmoke;
    text-align: justify;
}
.letter-border {
    border: thistle 2px solid;
    border-radius: 40px;
    padding: 16px;
}

.letter .btn {
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border: #F9B3B3 1px solid;
    padding: 10px;
}